<div class="row">
  <div class="col-md-8">
  <div class="panel panel-default">
  <div class="panel-heading">Your messages</div>
  <div class="panel-body">
    <ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#inbox" role="tab" data-toggle="tab">Inbox</a></li>
  <li role="presentation"><a href="#sent" role="tab" data-toggle="tab">Sent</a></li>
  <li role="presentation"><a href="#trash" role="tab" data-toggle="tab">Trash</a></li>
</ul>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="inbox">
  <div class="panel panel-default">
  <div class="panel-body">
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Conversation</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  	<%= render collection: mailbox.inbox, partial: 'conversation' %>
    </tbody>
    </table>
    </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="sent">
  <div class="panel panel-default">
  <div class="panel-body">
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Conversation</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  	<%= render collection: mailbox.sentbox, partial: 'conversation' %>
    </tbody>
    </table>
    </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="trash">
  <div class="panel panel-default">
  <div class="panel-body">
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Conversation</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  	<%= render collection: mailbox.trash, partial: 'conversation' %>
    </tbody>
    </table>
    </div>
    </div>
  </div>
</div>
  </div>
</div>
  </div>
  <div class="col-md-4">
  <h3>Start new <%= link_to 'Conversation', :new_conversation, :class => 'btn btn-primary btn-lg' %></h3>
  </div>
  </div>
</div>