<button id="open_new_msg_dialog" class="btn btn-danger btn-sm btn-block">New</button>
<hr>
<ul class="nav nav-pills nav-stacked nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#home" role="tab" data-toggle="tab"> Inbox </a>
  </li>
  <li role="presentation" ><a href="#profile" role="tab" data-toggle="tab">Sent Mail</a></li>
</ul>